.container {
  width: 80%;
  margin: auto;
  font-family: Open Sans,sans-serif;
  font-size: 16px;
  padding-top: 6px;
}

.header {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid #e2e2e2;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px;
}

.row-left {
  width: 200px;
  font-weight: bold;
}

.row-right {
  flex: 1;
}

.full-width {
  width: 100%;
}
