<div class="container">
  <div style="margin: 20px 0px;">
    <button mat-raised-button color="primary" (click)="onAdd()">
      Add new vehicle
    </button>
  </div>

  <div class="table-row" style="font-weight: bold; background-color: #d2d5d8;">
    <div class="table-cell">VIN</div>
    <div class="table-cell">Model</div>
    <div class="table-cell">Year</div>
    <div class="table-cell">Inspection Date</div>
    <div class="table-cell">Inspection Name</div>
    <div class="table-cell">Inspection Location</div>
    <div class="table-cell">Pass</div>
  </div>

  <div *ngFor="let vehicle of vehicles">
    <a [routerLink]="['/vehicles', vehicle.vin]" style="text-decoration: none; color: black">
      <div class="table-row">
        <div class="table-cell">
          <div>{{ vehicle.vin }}</div>
        </div>
        <div class="table-cell">
          <div>{{ vehicle.model }}</div>
        </div>
        <div class="table-cell">
          <div>{{ vehicle.year }}</div>
        </div>
        <div class="table-cell">
          <div>{{ vehicle.inspectionDate | date :'shortDate' }}</div>
        </div>
        <div class="table-cell">
          <div>{{ vehicle.inspectorName }}</div>
        </div>
        <div class="table-cell">
          <div>{{ vehicle.inspectionLocation }}</div>
        </div>
        <div class="table-cell">
          <div>{{ vehicle.pass }}</div>
        </div>
      </div>
    </a>
  </div>
</div>